.btn-default {
    background-color: ##16a085;
}
.btn-primary {
    background-color: #d35400;
}
.btn-info    {
    background-color: #e74c3c;
}
.btn-danger  {
    background-color: #d35400;
}
.btn-success {
    background-color: #27ae60;
}
.btn-warning {
    background-color: #e67e22;
}
